* {
    margin: 0;
    padding: 0;
  }

.fixed-area{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #050505;
    background-color: blue;
   

}
.game-interaction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-top: 50px;
    font-size: medium;
  }

.btn-tg{
    height: 50px;
    width: 80px;
    background-color: black;
    color: white;
}

  
  
  body {
    background-color: rgb(218, 174, 174);
    height: 100vh;
 
    perspective: 1000px;
  }
  
  .cube {
    transform: rotateX(-25deg) rotateY(25deg);
    cursor: move;
    transform-style: preserve-3d;
    position: relative;
    width: 50vmin;
    height: 50vmin;
    

    margin: auto;
  }
header{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    height:50px;
    width: 100%;
    top: 0;
   
}
  .cube .face {
    box-sizing: border-box;
    border: 5px solid black;
    width: 40vmin;
    height: 40vmin;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cube .face.front {
    background-color: white;
    transform: translateX(0px) translateY(0px) translateZ(25vmin) rotateX(0deg) rotateY(0deg);
  }
  
  .cube .face.back {
    background-color: white;
    transform: translateX(0px) translateY(0px) translateZ(-25vmin) rotateX(0deg) rotateY(0deg);
  }
  
  .cube .face.top {
    background-color: white;
    transform: translateX(0px) translateY(-25vmin) translateZ(0px) rotateX(90deg) rotateY(0deg);
  }
  
  .cube .face.bottom {
    background-color: white;
    transform: translateX(0px) translateY(25vmin) translateZ(0px) rotateX(90deg) rotateY(0deg);
  }
  
  .cube .face.left {
    background-color: white;
    transform: translateX(-25vmin) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(90deg);
  }
  
  .cube .face.right {
    background-color: white;
    transform: translateX(25vmin) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(90deg);
  }
  
  /*toggle btn*/

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /**/